body{
    background-color: #a26a;
    margin: 20px;
}

h1{
    text-align: center;
    text-decoration: underline wavy;
    font-size: 100px;
    font-weight: 900;
    color: rgb(66, 22, 108, 0.625);
}

img{
    border-bottom: #000 solid 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to top, #77c7, #0000);
    width: 50%;
}

button{
    font-size: 30px;
    margin: 20px;
    height: 50px;
    width: 200px;
}

p{
    font-size: 30px;
}