@font-face {
    font-family: "Eater";
    src: url(../Fonts/Eater/Eater-Regular.ttf);
}

@font-face {
    font-family: "Decide_Remain";
    src: url(../Fonts/deicide-remain/Deicide\ Remain.otf);
}

body{
    height: 100vh;
    margin: 0;
    background: #4355f3;

}

h1{
    padding-top: 40px;
    margin: 0;
    text-align: center;
    color: #40aff4;
    text-decoration:wavy underline;
    font-size: 70px;
    text-shadow: 0 0 15px #000000b9;
}

h2{
    margin: 33px 5vw;
    padding-left: 5px;
    box-sizing: border-box;
    border: #000 solid 7px;
    border-radius: 25px;
    font-size: 40px;
    background-color: #40aff4;
    max-width: 980px;
}

p{
    margin: 30px 7vw;
    font-size: 30px;
}

a{
    font-style: italic;
    color: #40aff4;
}

.gradient_title{
    background: linear-gradient(#0006,#3a76ae);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.form_retos{
    box-sizing: content-box;
    border-top: #000 solid 6.25px;
    background-color: #04aacfba;
    background-image: linear-gradient(#0c596a, #04aacfba);
    padding: 10px 5px 10px 10px;
    border-radius: 10px;
    margin: 5px 7vw;
    box-shadow: 0 20px 30px 10px #0009 ;
    max-width: 980px;
}

.retos_input{
    border: none;
    border-left: #000 solid 5px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 30px;
    background-color: #04aacf77;
    margin-top: 0;
    height: 40px;
    width: 70%;
}

.slider_txt{
    border-left: #000 solid 5px;
    background: linear-gradient(to right, #fff5, transparent);
    padding-left: 7.25px;
    margin: 0px 0 0 0;
    letter-spacing: 3px;
    font-family: "Eater", "Decide_Remain";
    font-size:30px;
}

.divisor{
    box-sizing: border-box;
    height: 7px;
    width: 90%;
    background-color: #40aff4;
    border-radius: 2.25px;
    margin: 55px auto;
}

.input_div{
    margin: 20px;
}

#input_submit{
    padding: 0.5px;
    display: block;
    width: 180px;
    height: 40px;
    margin-left: auto;
    margin-right: 40px;
    font-size: 30px;
    letter-spacing: 2.5px;
    border: #000 solid 3px;
}

#retos_descripción{
    width: 90%;
    height: 40px;
}

#retos_slider{
    margin-top: 0;
    width: 95%;
}

::placeholder{
    color: #0009;
    font-size: 30px;
}