@font-face {
    font-family: "Eater";
    src: url(../Fonts/Eater/Eater-Regular.ttf);
}

@font-face {
    font-family: "Decide_Remain";
    src: url(../Fonts/deicide-remain/Deicide\ Remain.otf);
}

body{
    margin: 10px 30px;
    background-color: #4355f3;
}

h1{
    text-align: center;
    color: #04aacf;
    text-decoration:wavy underline #04aacf;
    font-size: 55px;
}

.form_retos{
    box-sizing:initial;
    border-top: #000 solid 5px;
    height: 300px;
    background-color: #04aacfba;
    background-image: linear-gradient(#0c596a, #04aacfba);
    padding: 10px 5px 10px 10px;
    border-radius: 10px;
    margin: 5px;
    aspect-ratio: 16/9;
}

.retos_input{
    background-color: #04aacf77;
    margin-top: 5%;
    height: 25px;
    width: 40%;
}

.slider_txt{
    padding-bottom: 0%;
    margin: 20px 0 0 0;
    letter-spacing: 3px;
    font-family: "Eater", "Decide_Remain";
    font-size: small;
}

.text_over_form{
    padding: 0%;
    box-sizing: border-box;
    border: #000a solid 3px;
    font-size: xx-large;
}

.divisor{
    height: 5px;
    width: 100%;
    background-color: #04aacf;
    margin: 30px auto;
}

#input_submit{
    width: 70px;
    margin-left: 77.5%;
    margin-top: 20px;
    letter-spacing: 2.5px;
}

#retos_descripción{
    width: 90%;
    height: 30px;
}

#retos_slider{
    margin-top: 0;
    width: 95%;
    range: infinite;
}

::placeholder{
    padding-left: 7.5px;
    color: #0009;
    font-size: large;
}